---
DEBUG: false
YANDEX_GEOCODER_API_KEY: secret_key
OPEN_ROUTE_SERVICE_API_KEY: secret_key
POSTGRES_PASSWORD: pass
POSTGRES_USER: user
POSTGRES_DB: postgres
POSTGRES_HOST: db
POSTGRES_PORT: 5432
REDIS_HOST: redis
REDIS_PORT: 6379
REDIS_DB: 0